<div class="coreactualdatadashboard-160-2252" name="Core@Actual Data Dash board">
 <div class="group-160-2253" name="Group">
  <div class="group-160-2254" name="Group">
  </div>
  <label class="text-160-2255" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-160-2256" name="Group">
  <div class="group-160-2257" name="Group">
  </div>
  <img class="vector-160-2258" src="assets/images/Core/actual-data-dash-board/vector-160_2258.svg"/>
  <div class="group-160-2259" name="Group">
   <div class="group-160-2260" name="Group">
   </div>
   <button class="btn-160-2261" type="button">
    <img class="vector-160-2263" src="assets/images/Core/actual-data-dash-board/vector-160_2263.svg"/>
   </button>
   <div class="group-160-2266" name="Group">
    <img class="vector-160-2267" src="assets/images/Core/actual-data-dash-board/vector-160_2267.svg"/>
    <label class="text-160-2272" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <div class="group-160-2273" name="Group">
   <select class="dropdown-160-2274">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-160-2279" name="Group">
    <div class="group-160-2280" name="Group">
     <button class="btn-160-2281" type="button">
      <img class="vector-160-2283" src="assets/images/Core/actual-data-dash-board/vector-160_2283.svg"/>
     </button>
     <button class="btn-160-2286" type="button">
      <img class="vector-160-2288" src="assets/images/Core/actual-data-dash-board/vector-160_2288.svg"/>
     </button>
     <button class="btn-160-2291" type="button">
      <img class="vector-160-2293" src="assets/images/Core/actual-data-dash-board/vector-160_2293.svg"/>
     </button>
     <button class="btn-160-2300" type="button">
      <img class="vector-160-2302" src="assets/images/Core/actual-data-dash-board/vector-160_2302.svg"/>
     </button>
     <button class="btn-160-2306" type="button">
      <img class="vector-160-2308" src="assets/images/Core/actual-data-dash-board/vector-160_2308.svg"/>
     </button>
     <button class="btn-160-2312" type="button">
      <img class="vector-160-2314" src="assets/images/Core/actual-data-dash-board/vector-160_2314.svg"/>
     </button>
    </div>
    <button class="btn-160-2316" type="button">
     <img class="vector-160-2318" src="assets/images/Core/actual-data-dash-board/vector-160_2318.svg"/>
    </button>
   </div>
   <select class="dropdown-160-2325">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <button class="btn-160-2329" type="button">
   <img class="vector-160-2332" src="assets/images/Core/actual-data-dash-board/vector-160_2332.svg"/>
   Create what-if analysis
  </button>
  <img class="vector-160-2334" src="assets/images/Core/actual-data-dash-board/vector-160_2334.svg"/>
  <img class="vector-160-2343" src="assets/images/Core/actual-data-dash-board/vector-160_2343.svg"/>
  <div class="group-160-2350" name="Group">
   <div class="group-160-2351" name="Group">
    <div class="group-160-2352" name="Group">
     <select class="dropdown-160-2353">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-160-2360" name="Group">
      <img class="vector-160-2361" src="assets/images/Core/actual-data-dash-board/vector-160_2361.svg"/>
      <label class="text-160-2362" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-160-2363" name="Group">
     <select class="dropdown-160-2364">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-160-2371" name="Group">
      <img class="vector-160-2372" src="assets/images/Core/actual-data-dash-board/vector-160_2372.svg"/>
      <label class="text-160-2373" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-160-2374" name="Group">
    <div class="group-160-2375" name="Group">
     <img class="vector-160-2376" src="assets/images/Core/actual-data-dash-board/vector-160_2376.svg"/>
     <label class="text-160-2389" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-160-2390" type="button">
     <img class="vector-160-2393" src="assets/images/Core/actual-data-dash-board/vector-160_2393.svg"/>
     Complete
    </button>
    <button class="btn-160-2395" type="button">
     <img class="vector-160-2397" src="assets/images/Core/actual-data-dash-board/vector-160_2397.svg"/>
    </button>
   </div>
  </div>
  <div class="group-160-2398" name="Group">
   <div class="group-160-2399" name="Group">
   </div>
   <div class="group-160-2400" name="Group">
    <div class="group-160-2401" name="Group">
     <div class="group-160-2402" name="Group">
      <div class="group-160-2403" name="Group">
       <label class="text-160-2404" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-160-2405" name="Group">
        <label class="text-160-2406" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-160-2407" src="assets/images/Core/actual-data-dash-board/vector-160_2407.svg"/>
       </div>
      </div>
      <div class="group-160-2411" name="Group">
       <div class="group-160-2412" name="Group">
        <img class="vector-160-2413" src="assets/images/Core/actual-data-dash-board/vector-160_2413.svg"/>
        <label class="text-160-2415" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-160-2416" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-160-2417" name="Group">
       <div class="group-160-2418" name="Group">
        <img class="vector-160-2419" src="assets/images/Core/actual-data-dash-board/vector-160_2419.svg"/>
        <label class="text-160-2421" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-160-2422" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-160-2423" name="Group">
         <div class="group-160-2424" name="Group">
          <div class="group-160-2425" name="Group">
          </div>
          <label class="text-160-2426" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-160-2427" name="Group">
       <div class="group-160-2428" name="Group">
        <img class="vector-160-2429" src="assets/images/Core/actual-data-dash-board/vector-160_2429.svg"/>
        <label class="text-160-2431" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-160-2432" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-160-2433" name="Group">
       <div class="group-160-2434" name="Group">
        <div class="group-160-2435" name="Group">
         <img class="vector-160-2436" src="assets/images/Core/actual-data-dash-board/vector-160_2436.svg"/>
         <label class="text-160-2438" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-160-2439" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-160-2440" name="Group">
      <div class="group-160-2441" name="Group">
       <div class="group-160-2442" name="Group">
        <div class="group-160-2443" name="Group">
         <div class="group-160-2444" name="Group">
          <div class="group-160-2445" name="Group">
           <label class="text-160-2446" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-160-2447" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-160-2448" src="assets/images/Core/actual-data-dash-board/vector-160_2448.svg"/>
           <label class="text-160-2450" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-160-2451" name="Group">
       <div class="group-160-2452" name="Group">
        <div class="group-160-2453" name="Group">
         <label class="text-160-2454" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-160-2455" name="Group">
          <label class="text-160-2456" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-160-2457" src="assets/images/Core/actual-data-dash-board/vector-160_2457.svg"/>
        </div>
       </div>
      </div>
      <div class="group-160-2459" name="Group">
       <div class="group-160-2460" name="Group">
        <div class="group-160-2461" name="Group">
         <img class="vector-160-2462" src="assets/images/Core/actual-data-dash-board/vector-160_2462.svg"/>
         <div class="group-160-2464" name="Group">
          <div class="group-160-2465" name="Group">
           <label class="text-160-2466" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-160-2467" name="Group">
           <div class="group-160-2468" name="Group">
            <label class="text-160-2469" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-160-2470" name="Group">
       <div class="group-160-2471" name="Group">
        <div class="group-160-2472" name="Group">
         <div class="group-160-2473" name="Group">
          <label class="text-160-2474" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-160-2475" type="text" value="03">
           03
          </label>
          <img class="vector-160-2476" src="assets/images/Core/actual-data-dash-board/vector-160_2476.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-160-2478" name="Group">
       <div class="group-160-2479" name="Group">
        <div class="group-160-2480" name="Group">
         <label class="text-160-2481" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-160-2482" type="text" value="03">
          03
         </label>
         <img class="vector-160-2483" src="assets/images/Core/actual-data-dash-board/vector-160_2483.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-160-2489" src="assets/images/Core/actual-data-dash-board/vector-160_2489.svg"/>
   </div>
  </div>
  <div class="group-160-2490" name="Group">
   <div class="group-160-2491" name="Group">
    <label class="text-160-2492" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-160-2493" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-160-2494" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-160-2495" src="assets/images/Core/actual-data-dash-board/vector-160_2495.svg"/>
    <div class="group-160-2497" name="Group">
     <img class="vector-160-2498" src="assets/images/Core/actual-data-dash-board/vector-160_2498.svg"/>
     <label class="text-160-2500" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-160-2501" src="assets/images/Core/actual-data-dash-board/vector-160_2501.svg"/>
   </div>
  </div>
  <div class="group-160-2506" name="Group">
   <select class="dropdown-160-2507">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <select class="dropdown-160-2511">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-160-2515">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <button class="btn-160-2519" type="button">
    <img class="vector-160-2522" src="assets/images/Core/actual-data-dash-board/vector-160_2522.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-160-2525">
    <option selected="" value="">
     View
    </option>
   </select>
   <div class="group-160-2529" name="Group">
    <div class="group-160-2530" name="Group">
     <label class="text-160-2531" type="text" value="1D">
      1D
     </label>
     <label class="text-160-2532" type="text" value="1M">
      1M
     </label>
     <label class="text-160-2533" type="text" value="3M">
      3M
     </label>
     <label class="text-160-2534" type="text" value="6M">
      6M
     </label>
     <img class="vector-160-2535" src="assets/images/Core/actual-data-dash-board/vector-160_2535.svg"/>
     <label class="text-160-2537" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-160-2538" src="assets/images/Core/actual-data-dash-board/vector-160_2538.svg"/>
  </div>
  <img class="vector-160-2542" src="assets/images/Core/actual-data-dash-board/vector-160_2542.svg"/>
  <div class="group-160-2783" name="Group">
   <div class="group-160-2784" name="Group">
    <div class="group-160-2785" name="Group">
    </div>
    <div class="group-160-2786" name="Group">
     <div class="group-160-2787" name="Group">
     </div>
     <div class="group-160-2788" name="Group">
      <img class="vector-160-2789" src="assets/images/Core/actual-data-dash-board/vector-160_2789.svg"/>
      <label class="text-160-2793" type="text" value="Performance analysis">
       Performance analysis
      </label>
     </div>
     <div class="group-160-2794" name="Group">
      <button class="btn-160-2795" type="button">
       <img class="vector-160-2797" src="assets/images/Core/actual-data-dash-board/vector-160_2797.svg"/>
      </button>
      <button class="btn-160-2799" type="button">
       <img class="vector-160-2801" src="assets/images/Core/actual-data-dash-board/vector-160_2801.svg"/>
      </button>
     </div>
    </div>
   </div>
   <img class="vector-160-2804" src="assets/images/Core/actual-data-dash-board/vector-160_2804.svg"/>
   <div class="group-160-2826" name="Group">
    <div class="group-160-2827" name="Group">
    </div>
    <label class="text-160-2828" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
  </div>
 </div>
 <div class="group-160-2829" name="Group">
  <div class="group-160-2830" name="Group">
  </div>
  <label class="text-160-2831" type="text" value="Dash Board">
   Dash Board
  </label>
  <img class="vector-160-2832" src="assets/images/Core/actual-data-dash-board/vector-160_2832.svg"/>
  <label class="text-160-2833" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
 </div>
 <div class="group-160-2834" name="Group">
  <div class="group-160-2835" name="Group">
  </div>
  <img class="vector-160-2836" src="assets/images/Core/actual-data-dash-board/vector-160_2836.svg"/>
  <img class="vector-160-2861" src="assets/images/Core/actual-data-dash-board/vector-160_2861.svg"/>
  <button class="btn-160-2862" type="button">
   <img class="vector-160-2865" src="assets/images/Core/actual-data-dash-board/vector-160_2865.svg"/>
   Create Baseline
  </button>
  <img class="vector-160-2867" src="assets/images/Core/actual-data-dash-board/vector-160_2867.svg"/>
  <img class="vector-160-2872" src="assets/images/Core/actual-data-dash-board/vector-160_2872.svg"/>
 </div>
</div>
