

.coreactualdatadashboard-160-2252{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-160-2253{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1484px; left: calc( ( ( 100% - 1440px) / 2 ) + 13px);background:''}

.group-160-2254{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-160-2255{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2256{
position:absolute ;width: 1377.0px; height: 1314.0px;  background-color: rgba(255,255,255,1.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-160-2257{
position:absolute ;width: 1367.0px; height: 1231.0px;  background-color: rgba(255,255,255,1.0);top:83px; left: 5px;background:''}

.vector-160-2258{
position: absolute;left: 5.0px; top: 136.199951171875px; width: 1367.0px; height: 1}

.group-160-2259{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-160-2260{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.vector-160-2263{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2261{
position: absolute;
left: 1340.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-160-2266{
position:absolute ;width: 117.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-160-2267{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-160-2272{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 82.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-160-2273{
position:absolute ;width: 1140.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:48px; left: 5px;background:''}

.dropdown-160-2274{
position: absolute;left: 0.0px; top: 1.0px;background-color: rgba(33, 150, 243, 1.0);; width: 197.0px; height: 28.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-SemiBold;
}

.group-160-2279{
position:absolute ;width: 226.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 914px;border-radius: 2.0px;background:''}

.group-160-2280{
position:absolute ;width: 193.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 33px;border-radius: 2.0px;background:''}

.vector-160-2283{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2281{
position: absolute;
left: 165.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-160-2288{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2286{
position: absolute;
left: 132.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-160-2293{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2291{
position: absolute;
left: 99.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-160-2302{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2300{
position: absolute;
left: 66.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-160-2308{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2306{
position: absolute;
left: 33.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-160-2314{
position: relative; width: 18.0px; height: 18.0}

.btn-160-2312{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-160-2318{
position: relative; width: 23.0px; height: 23.0}

.btn-160-2316{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 27.0px;
 height: 27.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.dropdown-160-2325{
position: absolute;left: 220.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-160-2332{
position: relative; width: 24.0px; height: 24.0}

.btn-160-2329{
position: absolute;
left: 1151.0px;
 top: 50.0px;
 width: 218.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-160-2334{
position: absolute;left: 1324.03564453125px; top: 95.0px; width: 34.634521484375px; height: 28.0009765625}

.vector-160-2343{
position: absolute;left: 1230.0001831054688px; top: 96.999267578125px; width: 77.5234375px; height: 25.0074462890625}

.group-160-2350{
position:absolute ;width: 1196.353759765625px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:95px; left: 19px;background:''}

.group-160-2351{
position:absolute ;width: 278.35504150390625px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 916px;background:''}

.group-160-2352{
position:absolute ;width: 130.7303466796875px; height: 28.33056640625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.dropdown-160-2353{
position: absolute;left: 0.937744140625px; top: -0.01806640625px;background-color: rgba(33, 150, 243, 1.0);; width: 125.25491333007812px; height: 28.2689208984375px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-160-2360{
position:absolute ;width: 13.009429931640625px; height: 13.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 118px;background:''}

.vector-160-2361{
position: absolute;left: 0.71783447265625px; top: 0.064453125px; width: 13.009429931640625px; height: 13.0}

.text-160-2362{
position: absolute;
left: 4.72174072265625px;
 top: 3.064453125px;
 width: 5.003631591796875px;
 height: 6.0px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-160-2363{
position:absolute ;width: 131.3853759765625px; height: 28.1533203125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 147px;background:''}

.dropdown-160-2364{
position: absolute;left: 0.968505859375px; top: 0.0px;background-color: rgba(34, 148, 94, 1.0);; width: 131.3853759765625px; height: 28.1533203125px;
font-size: 9.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold;
}

.group-160-2371{
position:absolute ;width: 13.01708984375px; height: 12.4776611328125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 119px;background:''}

.vector-160-2372{
position: absolute;left: 0.2177734375px; top: 0.07421875px; width: 13.01214599609375px; height: 12.4722900390625}

.text-160-2373{
position: absolute;
left: 3.93658447265625px;
 top: 4.333984375px;
 width: 5.0048828125px;
 height: 5.2523193359375px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-160-2374{
position:absolute ;width: 478.99969482421875px; height: 20.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 0px;background:''}

.group-160-2375{
position:absolute ;width: 354.0354919433594px; height: 19.7623291015625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-160-2376{
position: absolute;left: 0.99951171875px; top: 0.0px; width: 19.09613037109375px; height: 19.1053466796875}

.text-160-2389{
position: absolute;
left: 23.0186767578125px;
 top: 4.3828125px;
 width: 330.0128479003906px;
 height: 13.4749755859375px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2393{
position: relative; width: 9.404098510742188px; height: 7.1693115234375}

.btn-160-2390{
position: absolute;
left: 390.00018310546875px;
 top: 1.0px;
 width: 88.0px;
 height: 19.0px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(33, 150, 83, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.vector-160-2397{
position: relative; width: 6.99267578125px; height: 10.7860107421875}

.btn-160-2395{
position: absolute;
left: 362.9999084472656px;
 top: 1.0px;
 width: 19.0040283203125px;
 height: 18.8031005859375px;
border-radius: 2.0px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.group-160-2398{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(0,0,0,0.0);top:151px; left: 18px;border-radius: 2.0px;background:''}

.group-160-2399{
position:absolute ;width: 1341.0px; height: 90.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2400{
position:absolute ;width: 1320.0px; height: 70.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 11px;border-radius: 2.0px;background:''}

.group-160-2401{
position:absolute ;width: 1141.0px; height: 70.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2402{
position:absolute ;width: 1141.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2403{
position:absolute ;width: 218.58575439453125px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 479px;border-radius: 2.0px;background:''}

.text-160-2404{
position: absolute;
left: 116.56640625px;
 top: 12.0px;
 width: 85.53356170654297px;
 height: 6.9754638671875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-160-2405{
position:absolute ;width: 80.25405883789062px; height: 10.9615478515625px;  background-color: rgba(0,0,0,0.0);top:9px; left: 17px;background:''}

.text-160-2406{
position: absolute;
left: 18.2578125px;
 top: 3.0px;
 width: 61.24625015258789px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-160-2407{
position: absolute;left: 0.75px; top: 0.232421875px; width: 11.61566162109375px; height: 10.9615478515625}

.group-160-2411{
position:absolute ;width: 196.410400390625px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 707px;border-radius: 2.0px;background:''}

.group-160-2412{
position:absolute ;width: 179.51486206054688px; height: 22.9195556640625px;  background-color: rgba(0,0,0,0.0);top:4px; left: 7px;background:''}

.vector-160-2413{
position: absolute;left: 3.892578125px; top: 6.7247314453125px; width: 11.0px; height: 11.0}

.text-160-2415{
position: absolute;
left: 116.052734375px;
 top: 8.0px;
 width: 49.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2416{
position: absolute;
left: 22.01171875px;
 top: 8.0px;
 width: 68.63803100585938px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2417{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-160-2418{
position:absolute ;width: 204.45895385742188px; height: 22.929931640625px;  background-color: rgba(0,0,0,0.0);top:4px; left: 11px;background:''}

.vector-160-2419{
position: absolute;left: 0.0px; top: 5.98828125px; width: 11.0px; height: 11.0}

.text-160-2421{
position: absolute;
left: 107.0px;
 top: 9.0px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2422{
position: absolute;
left: 15.0px;
 top: 7.9921875px;
 width: 88.07464599609375px;
 height: 7.003173828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2423{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:4px; left: 194px;border-radius: 12.982590675354004px;background:''}

.group-160-2424{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 12.982590675354004px;background:''}

.group-160-2425{
position:absolute ;width: 18.026519775390625px; height: 17.9072265625px;  background-color: rgba(233,241,254,1.0);top:0px; left: 0px;border-radius: 12.982590675354004px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-160-2426{
position: absolute;
left: 5.0px;
 top: 6.0px;
 width: 9.064056396484375px;
 height: 6.002685546875px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-160-2427{
position:absolute ;width: 246.04095458984375px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 222px;border-radius: 2.0px;background:''}

.group-160-2428{
position:absolute ;width: 227.03350830078125px; height: 23.0902099609375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 10px;background:''}

.vector-160-2429{
position: absolute;left: 3.07012939453125px; top: 6.986328125px; width: 9.623291015625px; height: 9.623291015625}

.text-160-2431{
position: absolute;
left: 98.44708251953125px;
 top: 7.986328125px;
 width: 115.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2432{
position: absolute;
left: 20.18927001953125px;
 top: 7.986328125px;
 width: 65.47012329101562px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2433{
position:absolute ;width: 211.1939697265625px; height: 29.9996337890625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2434{
position:absolute ;width: 209.08203125px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 3px;background:''}

.group-160-2435{
position:absolute ;width: 180.0px; height: 11.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 15px;background:''}

.vector-160-2436{
position: absolute;left: 0.986328125px; top: 0.0px; width: 10.0px; height: 11.0}

.text-160-2438{
position: absolute;
left: 95.013671875px;
 top: 1.0px;
 width: 84.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2439{
position: absolute;
left: 16.240234375px;
 top: 1.0px;
 width: 68.48394775390625px;
 height: 8.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2440{
position:absolute ;width: 1141.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:40px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2441{
position:absolute ;width: 218.5858154296875px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 479px;border-radius: 2.0px;background:''}

.group-160-2442{
position:absolute ;width: 180.021728515625px; height: 12.4642333984375px;  background-color: rgba(0,0,0,0.0);top:8px; left: 18px;border-radius: 2.0px;background:''}

.group-160-2443{
position:absolute ;width: 180.021728515625px; height: 12.4642333984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2444{
position:absolute ;width: 180.021728515625px; height: 12.4642333984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2445{
position:absolute ;width: 180.021728515625px; height: 12.4642333984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-160-2446{
position: absolute;
left: 15.850242614746094px;
 top: 3.138671875px;
 width: 69.98384094238281px;
 height: 8.3201904296875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-160-2447{
position: absolute;
left: 129.42712783813477px;
 top: 1.146484375px;
 width: 24.630706787109375px;
 height: 12.198974609375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2448{
position: absolute;left: 0.60546875px; top: 2.138671875px; width: 10.111892700195312px; height: 10.1937255859375}

.text-160-2450{
position: absolute;
left: 157.20072174072266px;
 top: 3.1484375px;
 width: 22.199695587158203px;
 height: 7.635009765625px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-160-2451{
position:absolute ;width: 196.41046142578125px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 707px;border-radius: 2.0px;background:''}

.group-160-2452{
position:absolute ;width: 160.6455841064453px; height: 11.9967041015625px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;border-radius: 2.0px;background:''}

.group-160-2453{
position:absolute ;width: 160.6455841064453px; height: 11.9967041015625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-160-2454{
position: absolute;
left: 20.211585998535156px;
 top: 4.72265625px;
 width: 52.338157653808594px;
 height: 6.5491943359375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2455{
position:absolute ;width: 61.848480224609375px; height: 11.7310791015625px;  background-color: rgba(0,0,0,0.0);top:1px; left: 99px;background:''}

.text-160-2456{
position: absolute;
left: 0.7973480224609375px;
 top: 0.176025390625px;
 width: 61.819305419921875px;
 height: 11.73095703125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-160-2457{
position: absolute;left: 1.01171875px; top: 3.0px; width: 12.393829345703125px; height: 8.4906005859375}

.group-160-2459{
position:absolute ;width: 227.0px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 914px;border-radius: 2.0px;background:''}

.group-160-2460{
position:absolute ;width: 197.76065063476562px; height: 12.08837890625px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;border-radius: 2.0px;background:''}

.group-160-2461{
position:absolute ;width: 197.76065063476562px; height: 12.08837890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-160-2462{
position: absolute;left: 0.990234375px; top: 2.0390625px; width: 10.160308837890625px; height: 10.19580078125}

.group-160-2464{
position:absolute ;width: 182.52191162109375px; height: 12.0631103515625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 16px;background:''}

.group-160-2465{
position:absolute ;width: 47.639251708984375px; height: 9.3878173828125px;  background-color: rgba(0,0,0,0.0);top:3px; left: 0px;background:''}

.text-160-2466{
position: absolute;
left: 0.235076904296875px;
 top: 0.076171875px;
 width: 47.624603271484375px;
 height: 9.3876953125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2467{
position:absolute ;width: 60.61199951171875px; height: 11.860107421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 122px;background:''}

.group-160-2468{
position:absolute ;width: 60.61199951171875px; height: 11.860107421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-160-2469{
position: absolute;
left: 0.126251220703125px;
 top: 0.99609375px;
 width: 60.61199951171875px;
 height: 11.8399658203125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-160-2470{
position:absolute ;width: 246.04103088378906px; height: 29.986328125px;  background-color: rgba(255,255,255,1.0);top:0px; left: 222px;border-radius: 2.0px;background:''}

.group-160-2471{
position:absolute ;width: 207.1399383544922px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:9px; left: 14px;border-radius: 2.0px;background:''}

.group-160-2472{
position:absolute ;width: 207.1399383544922px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2473{
position:absolute ;width: 207.1399383544922px; height: 12.572021484375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-160-2474{
position: absolute;
left: 16.78662109375px;
 top: 1.01171875px;
 width: 110.67050170898438px;
 height: 12.12353515625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-160-2475{
position: absolute;
left: 194.0384521484375px;
 top: 1.0859375px;
 width: 12.6689453125px;
 height: 10.63232421875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2476{
position: absolute;left: 0.41796875px; top: 1.0px; width: 15.024932861328125px; height: 10.2010498046875}

.group-160-2478{
position:absolute ;width: 211.19403076171875px; height: 29.9996337890625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-160-2479{
position:absolute ;width: 170.23782348632812px; height: 12.42041015625px;  background-color: rgba(0,0,0,0.0);top:8px; left: 19px;border-radius: 2.0px;background:''}

.group-160-2480{
position:absolute ;width: 170.23782348632812px; height: 12.4039306640625px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;border-radius: 2.0px;background:''}

.text-160-2481{
position: absolute;
left: 16.25054931640625px;
 top: 0.16015625px;
 width: 76.36529541015625px;
 height: 12.12158203125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-160-2482{
position: absolute;
left: 157.2464599609375px;
 top: 1.0px;
 width: 12.102508544921875px;
 height: 11.0174560546875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2483{
position: absolute;left: 0.87109375px; top: 0.0118408203125px; width: 11.49591064453125px; height: 10.939697265625}

.vector-160-2489{
position: absolute;left: 1152.0px; top: 0.0px; width: 168.0px; height: 70.0}

.group-160-2490{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(0,0,0,0.0);top:253px; left: 1063px;border-radius: 2.0px;background:''}

.group-160-2491{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(222,246,243,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-160-2492{
position: absolute;
left: 34.205108642578125px;
 top: 12.302734375px;
 width: 98.49948120117188px;
 height: 7.1102294921875px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2493{
position: absolute;
left: 34.20269775390625px;
 top: 29.0px;
 width: 84.01995849609375px;
 height: 8.068115234375px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2494{
position: absolute;
left: 122.203125px;
 top: 46.0px;
 width: 169.0px;
 height: 29.0px;
font-size: 41.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2495{
position: absolute;left: 8.203125px; top: 16.0px; width: 17.0px; height: 17.0}

.group-160-2497{
position:absolute ;width: 43.0px; height: 15.0px;  background-color: rgba(255,255,255,1.0);top:60px; left: 76px;border-radius: 2.0px;background:''}

.vector-160-2498{
position: absolute;left: 2.203125px; top: 3.0px; width: 10.0px; height: 10.0}

.text-160-2500{
position: absolute;
left: 12.028076171875px;
 top: 5.0px;
 width: 29.018798828125px;
 height: 6.018798828125px;
font-size: 9.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2501{
position: absolute;left: 10.0px; top: 62.0px; width: 20.991729736328125px; height: 13.435791015625}

.group-160-2506{
position:absolute ;width: 1320.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:352px; left: 30px;background:''}

.dropdown-160-2507{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.dropdown-160-2511{
position: absolute;left: 188.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 165.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.dropdown-160-2515{
position: absolute;left: 364.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.vector-160-2522{
position: relative; width: 16.0px; height: 16.0}

.btn-160-2519{
position: absolute;
left: 808.0px;
 top: 0.0px;
 width: 163.0052490234375px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 220, 216, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 115, 99, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.dropdown-160-2525{
position: absolute;left: 987.0px; top: 0.0px;background-color: rgba(239, 242, 245, 1.0);; width: 117.0px; height: 29.3023681640625px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-160-2529{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1115px;background:''}

.group-160-2530{
position:absolute ;width: 186.0px; height: 29.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-160-2531{
position: absolute;
left: 10.0px;
 top: 11.0px;
 width: 17.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2532{
position: absolute;
left: 73.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2533{
position: absolute;
left: 105.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-160-2534{
position: absolute;
left: 134.0px;
 top: 11.0px;
 width: 20.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2535{
position: absolute;left: 163.0px; top: 7.0px; width: 15.0px; height: 15.0}

.text-160-2537{
position: absolute;
left: 41.0px;
 top: 11.0px;
 width: 18.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2538{
position: absolute;left: 1307.0px; top: 7.0px; width: 13.0px; height: 20.0}

.vector-160-2542{
position: absolute;left: 18.0px; top: 396.0px; width: 1341.0px; height: 588.0}

.group-160-2783{
position:absolute ;width: 1377.0px; height: 256.0px;  background-color: rgba(255,255,255,1.0);top:1003px; left: 0px;background:''}

.group-160-2784{
position:absolute ;width: 1377.0px; height: 154.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-160-2785{
position:absolute ;width: 1377.0px; height: 110.0px;  background-color: rgba(255,255,255,1.0);top:44px; left: 0px;background:''}

.group-160-2786{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-160-2787{
position:absolute ;width: 1377.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-160-2788{
position:absolute ;width: 242.88604736328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 11px;background:''}

.vector-160-2789{
position: absolute;left: 0.9609375px; top: 0.0px; width: 24.0877685546875px; height: 24.0}

.text-160-2793{
position: absolute;
left: 34.16796875px;
 top: 7.0px;
 width: 207.75714111328125px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-160-2794{
position:absolute ;width: 63.93695068359375px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 1301px;border-radius: 2.0px;background:''}

.vector-160-2797{
position: relative; width: 18.0626220703125px; height: 18.0}

.btn-160-2795{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 28.0626220703125px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;

}

.vector-160-2801{
position: relative; width: 18.06585693359375px; height: 18.0}

.btn-160-2799{
position: absolute;
left: 35.87109375px;
 top: 0.0px;
 width: 28.06585693359375px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-160-2804{
position: absolute;left: 671.0px; top: 116.0px; width: 34.0px; height: 34.0}

.group-160-2826{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(0,0,0,0.0);top:166px; left: 553px;border-radius: 7.0px;background:''}

.group-160-2827{
position:absolute ;width: 270.0px; height: 25.0px;  background-color: rgba(255,255,255,0.47999998927116394);top:0px; left: 0px;border-radius: 7.0px;background:''}

.text-160-2828{
position: absolute;
left: 16.05859375px;
 top: 6.0px;
 width: 238.884765625px;
 height: 13.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Inter; font-weight: 500;
}

.group-160-2829{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(0,0,0,0.0);top:73px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-160-2830{
position:absolute ;width: 1440.0px; height: 80.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-160-2831{
position: absolute;
left: 25.0px;
 top: 19.0px;
 width: 167.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-160-2832{
position: absolute;left: 222.0px; top: 11.0px; width: 1.0px; height: 46.0}

.text-160-2833{
position: absolute;
left: 252.0px;
 top: 17.0px;
 width: 393.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-160-2834{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-160-2835{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-160-2836{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53839111328125px; height: 33.9761962890625}

.vector-160-2861{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-160-2865{
position: relative; width: 24.0px; height: 24.0}

.btn-160-2862{
position: absolute;
left: 222.0px;
 top: 20.0px;
 width: 156.0px;
 height: 36.0px;
 background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-160-2867{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-160-2872{
position: absolute;left: 1374.0px; top: 23.0px; width: 30.0px; height: 30.0}